$gray-light: #cfcfcf;
$blue-med: #20a1f2;
$blue-light: #8accf8;
$white: #fff;

$fontSize-sm: .8rem;
$fontSize-md: 1rem;


.body {
    width: 90%;
    margin: 0 auto;
}

.posts-container {
    width: 100%;
    height: 100%;
}

.post {
    display: flex;
    height: 100px;
    width: auto;
    background-color: $white;
    padding: 20px;
    margin: 5px 0 0 0;
    border: 1px solid $gray-light;
    border-radius: 10px;
}

.date {
    font-size: $fontSize-sm;
    color: $gray-light;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.user-data {
    font-weight: bold;
    margin: 0;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px;
}